  
body{
 font: 100%/1 'Balthazar', serif;
 background: #b7b6b7;
 background-size: cover;
 background: url("../images/background.jpg")no-repeat center;
 background-attachment: fixed;
 text-align: center;

}

p{
  background: rgba(255, 255, 255, 0.4);
  /*background: #2e1b46;*/
 font: 1em 'Balthazar', serif;
 margin-right: -15%;
 margin-left: -15%;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 75%;
 padding-left: 25%;
 width: 80%; /*500px*/
}

img{
	max-width: 100%;
}
 
h1, h2, h3, h4, h5, h6{
 text-align: left;
 line-height: 10px;
 background: #fff;
 margin-right: -15%;
 margin-left: -15%;
 padding-right: 20%;
 padding-left: 20%;
 /*font-family: 'Anton', sans-serif;*/
 font: 1.5em 'Anton', sans-serif; /*24pixels*/
 font-weight: bold;
 background: rgba(255, 255, 255, 0.5);
}

h:after {
	content: "";
	opacity: 0.5;
	position: absolute;
	z-index: -1; 
}

ul{
	list-style-type:none;
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
}

li .img{
 list-style-type:none;
 width: 30%;
 float: left;
 padding: 0;
 }


nav ul{
list-style-type:none;
width: 50%;
margin: 0 auto;
background: #2e1b46;
overflow: hidden;

}

nav li{
 width: 100px;
 background: silver;
 float: left;
 padding: 0;
}
 
 a {
 text-decoration: none;
 color: #d101ee;
 display: block;
 height: 40px;
 line-height: 40px;
 text-align: center;
 
}
 
a:hover{
 color: #2e1b46;
 background: #9782b1;
}

#main{
 background: #e0d9e8;
}

header{
 background: #9782b1;
 margin-right: -15%;
 margin-left: -15%;
 padding-right: 15%;
 padding-left: 15%;
 text-align: center;
}

footer{
 background: #2e1b46;
 margin-right: -15%;
 margin-left: -15%;
 padding-right: 20%;
 padding-left: 20%;
}

/* Media Queries
====================================================================*/

/* Tablet Portrait size to standard 960 devices and browsers */
@media screen and (min-width: 750px) and (max-width:980) {
p {
background-color: blue; 
}

/* Mobile Landscape size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 787px) {
}

/*Mobile Portrait Size to Mobile Landscape size (devices and browsers) */
@media only screen and (max width: 478px) {
body{
 font: 100%/1 'Balthazar', serif;
 background: #b7b6b7;
 background-size: cover;
 background: url("../images/background3.jpg")no-repeat center;
 background-attachment: fixed;
 text-align: center;
}
p{
  background: rgba(255, 255, 255, 0.4);
  /*background: #2e1b46;*/
 font: .8125em 'Balthazar', serif;
 margin-right: -15%;
 margin-left: -15%;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 75%;
 padding-left: 25%;
 width: 80%; /*500px*/
}
}
