  
body{
 font: 100%/1.5 'Balthazar', serif;
 background: #b7b6b7;
 background: url("../images/background.jpg")no-repeat center;
 background-attachment: fixed;
 width: 100%;
 text-align: center;

}

p{
 background: #2e1b46;
 background-width: 57%;
 font: .8125em 'Balthazar', serif;
 margin-left: 200px;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 200px;
 padding-left: 200px;
 width: 43%;
}

 
h1, h2, h3, h4, h5,{
 width: 100%;
 background: #666;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 200px;
 padding-left: 200px;
 font: 1.5em Balthazar, serif; /*24pixels*/
 margin: 0;
}
  
nav ul{
list-style-type:none;
width: 800px;
margin: 0 auto;
background: #2e1b46;
overflow: hidden;

}

nav li{
 width: 100px;
 background: silver;
 float: left;
 padding: 0;
}
 
 a {
 text-decoration: none;
 color: #d101ee;
 display: block;
 height: 40px;
 line-height: 40px;
 text-align: center;
 
}
 
a:hover{
 color: #2e1b46;
 background: #9782b1;
}

#main{
 background: #e0d9e8;
}

header{
 background: #9782b1;
}

footer{
 background: #2e1b46;
}