
p{
 background: 2e1b46;
 font-family: 'Balthazar', serif;
 margin: 0;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 200px;
 padding-left: 200px;
}

 
h1, h2, h3, h4, h5, h6{
 width: full;
 background: #666;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 200px;
 padding-left: 200px;
 font-family: 'Balthazar', serif;
 margin: 0;
}
  
nav ul{
list-style-type:none;
width:600px;
margin: 0 auto;
background: 2e1b46;
overflow: hidden;

}

nav li{
 width: 100px;
 background: silver;
 float: left;
 padding: 0;
}
 
 a {
 text-decoration: none;
 color: fff;
 display: block;
 height: 40px;
 line-height: 40px;
 text-align: center;
 
}
 
a:hover{
 color: 2e1b46;
 background: 9782b1;
}
  
body{
 background: #b7b6b7;
 background: url("../images/background.jpg")no-repeat center;
 background attachment: fixed;
 width: full;
}

ul, ol, img, aside{
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 200px;
 padding-left: 200px;
}

#main{
 background: #eod9e8;
}

header{
 background: #9782b1;
}

footer{
 background: #2e1b46;
}